*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li{list-style: none;}
.lg-hidden{
  display: none;
}

a{
  text-decoration: none;
  color: #000;
}

.global-header{
  width: 100%;
  height: 150px;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #FFF;
  box-shadow: 0 5px 12px rgb(0, 0, 0, .1);
}

.gnb-log{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 40px 20px 0;
}

.gnb-log a{
  color: #666;
  margin-left: 18px;
  font-size: 14px;
}

.gnb-log a i{margin-right: 5px;}

.gnb-main{
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.gnb-main-list{
  display: flex;
}


.gnb-main-item{
  position: relative;
}

.gnb-main a{
  display: block;
  height: 85px;
  padding: 0 20px;
  line-height: 85px;
  text-align: center;
}

.gnb-main-item a.active {
  color: darkblue;
}

.sub{
  width: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
  box-shadow: 0 3px 15px rgb(0, 0, 0, .2);
  display: none;
}

.sub a{
  font-size: 15px;
}

.sub::before{
  content: '';
  width: 10px;
  height: 10px;
  background-color: #113676;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.gnb-open-btn{
  border: none;
  cursor: pointer;
}

.slide-wrapper{
  overflow: hidden;
  position: relative;
}

.slide-list{
  display: flex;
  width: 300vw;
  height: 700px;
  transition: all 800ms ease-in-out;
}

.slide-item{
  width: 100vw;
  height: 100%;
}

.slide-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .4);
  color: #FFF;
  padding: 25px 0;
  border-top: 1px solid rgba(255, 255, 255, .4);
  position: absolute;
  bottom: 0;
}

.slide-btn li{
  margin-right: 20px;
  transition: color 800ms ease-in-out;
}

.slide-btn li:last-child{margin-right: 0;}

.slide-btn li:hover{color: #FFE111;}

.slide-btn li::after{
  content: '';
  display: inline-block;
  width: 2px;
  height: 14px;
  background-color: #aaa;
  margin-left: 20px;
}

.slide-btn li:last-child::after{content: none;}

footer{margin-top: 60px;}

.footer-top{
  display: flex;
  height: 60px;
  justify-content: space-between;
  background-color: #414244;
  color: #aaa;
  padding: 0 40px;
}
.footer-top a{color: #aaa;}

.footer-left{
  display: flex;
}

.footer-left a{
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  font-size: 18px;
  border-left: 1px solid rgba(255, 255, 255, .1);
}

.footer-left li a:last-child{
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer-left li:nth-child(2) a{
  color: #FFF;
  font-weight: 700;
} 

.footer-right{
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}

.number{
  color: #FFF;
  font-size: 24px;
  font-weight: 300;
}

.time{font-size: 14px;}

.footer-bottom{
  background-color: #2d2d30;
  color: #aaa;
  padding: 50px 40px;
}

.footer-bottom img{opacity: .5;}

.footer-bottom ul{
  display: flex;
  margin-top: 30px;
}

.footer-bottom li::before{
  content: '';
  width: 1px;
  height: 15px;
  background-color: #555;
  display: inline-block;
  margin: 0 20px;
  transform: rotate(30deg);
}

.footer-bottom li:first-child::before{
  content: none;
}

.footer-bottom p{
  margin-top: 10px;
}

@media screen and (max-width:1200px) {
  .lg-only{display: none;}

  .lg-hidden{display: block;}

  .sidebar{
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: 200;
    padding: 20px 30px;
    text-align: center;
    box-shadow: 5px 0 5px rgba(0, 0, 0, .2);
    transform: translateX(-200px);
    transition: transform 800ms ease-in-out;
  }
  .sidebar.is-active{
    transform: translateX(0);
  }

  .sidebar-item a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #CCC;
  }

  .sidebar-item a:first-child{
    border-top: 1px solid #CCC;
  }

  .sidebar-btn{
    float: right;
    border: none;
    font-size: 18px;
    background-color: transparent;
    margin-bottom: 20px;
  }

  .sidebar-list{
    clear: right;
  }
}